@page "/interests"

@using josef.Data
@using josef.Extensions

@inject IHttpClientFactory httpClientFactory

<BSButton Class="float-right btn-sm mt-2" Color="Color.Primary" @onclick="@(e => collapse(e))">Filter @( IsOpen ? "-" : "+")</BSButton>
<h1><BSBadge>@TotalItems</BSBadge> Interests</h1>
<BSCollapse IsOpen="@IsOpen">
    <BSBasicForm Class="filter p-3 rounded">
        <BSFormRow>
            <BSFormGroup Class="col-4 m-0">
                <BSBasicInput InputType="InputType.Text" Value="string.Empty" PlaceHolder="Free text"></BSBasicInput>
            </BSFormGroup>
            <BSFormGroup Class="col-4 m-0">
                <BSBasicInput InputType="InputType.Select" Value="string.Empty" PlaceHolder="Hello">
                    @foreach (var name in Enum.GetValues(typeof(SkillCategory)))
                    {
                        <option value="@((int)name)">@EnumExtensions.GetDisplayName(SkillCategory.CONCEPTUAL)</option>
                    }
                </BSBasicInput>
            </BSFormGroup>
            <BSFormGroup Class="col-4 m-0">
                <BSBasicInput InputType="InputType.Select" Value="string.Empty" PlaceHolder="Hello">
                    @foreach (var name in Enum.GetValues(typeof(SkillType)))
                    {
                        <option value="@((int)name)">@name</option>
                    }
                </BSBasicInput>
            </BSFormGroup>
        </BSFormRow>
    </BSBasicForm>
</BSCollapse>
    <hr />
    @if (items == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <BSCard CardType="CardType.Columns">
            @foreach (var item in items)
            {
                <BSCard>
                    <BSCard CardType="CardType.Body">
                        <BSCard CardType="CardType.Title">@item.Title</BSCard>
                        <BSCard CardType="CardType.Text">@item.Comment</BSCard>
                    </BSCard>
                </BSCard>
             }
        </BSCard>
    }

    @code {

        private Interest[] items;

        public int TotalItems { get; set; } = 0;
        bool IsOpen { get; set; } = false;

        void collapse(MouseEventArgs a)
        {
            IsOpen = !IsOpen;
            StateHasChanged();
        }

        protected override async Task OnInitializedAsync()
        {
            var client = httpClientFactory.CreateClient("default");
            items = await client.GetJsonAsync<Interest[]>("interests.json");
            TotalItems = items.Count();
        }
    }