@page "/todos"

@using josef.Data
@using josef.Extensions

@inject IHttpClientFactory httpClientFactory

<BSButton Class="float-right btn-sm mt-2" Color="Color.Primary" @onclick="@(e => collapse(e))">Filter @( IsOpen ? "-" : "+")</BSButton>
<h1><BSBadge>@TotalItems</BSBadge> Bucket list</h1>
<BSCollapse IsOpen="@IsOpen">
    <BSBasicForm Class="filter p-3 rounded">
        <BSFormRow>
            <BSFormGroup Class="col-4 m-0">
                <BSBasicInput InputType="InputType.Text" Value="string.Empty" PlaceHolder="Free text"></BSBasicInput>
            </BSFormGroup>
            <BSFormGroup Class="col-4 m-0">
                <BSBasicInput InputType="InputType.Select" Value="string.Empty" PlaceHolder="Hello">
                    @foreach (var name in Enum.GetValues(typeof(TodoCategory)))
                    {
                        <option value="@((int)name)">@EnumExtensions.GetDisplayName(TodoCategory.HEALTH)</option>
                    }
                </BSBasicInput>
            </BSFormGroup>
            <BSFormGroup Class="col-4 m-0">
                <BSBasicInput InputType="InputType.Select" Value="string.Empty" PlaceHolder="Hello">
                    @foreach (var name in Enum.GetValues(typeof(TodoType)))
                    {
                        <option value="@((int)name)">@name</option>
                    }
                </BSBasicInput>
            </BSFormGroup>
        </BSFormRow>
    </BSBasicForm>
</BSCollapse>
<hr />

@if (items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach(var category in Enum.GetValues(typeof(TodoCategory))) {

        var EnumName = (TodoCategory)Enum.Parse(typeof(TodoCategory), category.ToString());
        int EnumValue = (int)category;

    <h3>@EnumExtensions.GetDisplayName(EnumName)</h3>

    <BSTable Class="mb-4 mt-1">
        <BSTableHead TableHeadType="TableHeadType.Light">
            <tr>
                <th>Todo</th>
                <th>Type</th>
            </tr>
        </BSTableHead>
        <tbody>
            @foreach (var item in items)
            {
                if (item.Category.Equals(EnumName)) {
                <tr>
                    <td>
                        @if (@item.Status == 0)  { 
                            <i class="oi oi-task color-whitesmoke"></i>
                        } else {
                            <i class="oi oi-task color-green"></i>
                        }
                        @item.Title
                    </td>
                    <td>@EnumExtensions.GetDisplayName(item.Type)</td>
                </tr>
                }
            }
        </tbody>
    </BSTable>
    }
}

@code {

    private Todo[] items;

    public int TotalItems { get; set; } = 0;
    bool IsOpen { get; set; } = false;

    void collapse(MouseEventArgs a)
    {
        IsOpen = !IsOpen;
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        var client = httpClientFactory.CreateClient("default");
        items = await client.GetJsonAsync<Todo[]>("todos.json");
        TotalItems = items.Count();
    }
}
